* {
     padding: 0;
     margin: 0;
     border: none;
     outline: none;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
}

body {
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #333;
     flex-direction: column;
     gap: 0.5rem;
}

form {
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}

h3 {
     color: #333;
     text-align: center;
}

.container {
     background-color: #fff;
     padding: 1.5rem;
     width: 20%;
     border-radius: 0.5rem;
     box-shadow: 0.188rem solid rgba(0,0,0,0.5);
}

.btn {
     background-color: blue;
     color:#fff ;
     padding: 0.5rem 1rem;
     border-radius: 0.5rem;
     cursor: pointer;
     &:hover {
          background-color: rgb(0, 0, 128);
     }
}

.input {
     border: 0.124rem solid #666;
     padding: 0.5rem 1rem;
     border-radius: 0.3rem;
}

.list-data {
     list-style-type: none;
     color: #333;
     padding: 0;
}

.list-data li {
     background-color: rgb(85, 248, 144);
     padding: 0.5rem 2rem;
     box-shadow: 0.124rem 0.124rem 0.2rem rgba(0,0,0,0.5);
     border-radius: 0.3rem;
     border: 0.188rem solid #fff;
     margin: 0.3rem 0;
     text-transform: capitalize;
     display: flex;
     align-items: center ;
     gap: 0.5rem;
}

.btn-remove {
      background-color: rgb(248, 30, 30);
     color:#fff ;
     padding: 0.5rem 1rem;
     border-radius: 0.5rem;
     cursor: pointer;
     &:hover {
          background-color: rgb(112, 0, 0);
     }
}