* {
     border: none;
     outline: none;
     padding: 0;
     margin: 0;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
}

body {
     background-color: #333;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
}

.container {
     background-color: #fff;
     box-shadow: 0.188rem 0.188rem 0.2rem rgba(0,0,0,0.6);
     border-radius: 0.3rem;
     width: 30%;
     padding: 2rem;
}

.container h1 {
     margin-bottom: 0.5rem;
}

.action {
     display: flex;
     gap: 0.5rem;
}

.action * {
     flex: 1;
     text-align: center;
     color: #fff;
      background-color: blue;
     appearance: none;
     padding: 0.3rem;
     border-radius: 0.3rem;
     font-size: 1.5rem;
     cursor: pointer;
}

.action select option {
     background-color: #adadad;
     border: none;
}

.action button {
     background-color: green;
}

form {
      display: flex;
     flex-direction: column;
     gap: 0.5rem;
}

.input-group {
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}

.input-group input {
     border: 0.124rem solid #999;
     border-radius: 0.3rem;
     padding: 0.5rem;
}

.result {
     padding: 1rem;
     border-radius: 0.5rem;
     border: 0.188rem dashed #777;
     margin: 0.5rem 0;
     text-align: center;
     color: #777;
}